<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body><form th:action="@{/voucher}" method="post" th:object="${voucherDto}">
	<table>
		<tr>
			<td><label>Chain Type: </label></td>
			<td><select th:field="*{chainId}">
					<option selected="selected" value="">Select</option>
					<option th:each="chainList : ${chainTypeList}" th:value="${chainList.chainId}" 	th:text="${chainList.chainName}"></option>
			</select></td>
		</tr>

		<tr>
			<td><label>Machine Type: </label></td>
			<td><select th:field="*{machineId}">
					<option selected="selected" value="">Select</option>
					<option th:each="machineList : ${machineTypeList}" th:value="${machineList.machineId}" th:text="${machineList.machineName}"></option>
			</select></td>
		</tr>
		<tr>
			<td><label>Weight:</label></td>
			<td><input type="text" placeholder="V" th:field="*{vori}" /></td>
			<td><input type="text" placeholder="A" th:field="*{ana}" /></td>
			<td><input type="text" placeholder="R" th:field="*{roti}"/></td>
			<td><input type="text" placeholder="Point" th:field="*{point}"/></td>
		</tr>
		
		<tr>
			<td><input type="submit"></input></td>
		</tr>
	</table></form>
</body>
</html>