<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<td>
			<input type="hidden" id="customerId" name="customerId"/>
			<input type="hidden" id="voucherId" name="voucherId"/>
				<label> Mobile Number :</label>
				<input id="vmobile" name="vmobile" type="text"/>
				<button type="button" onclick="fetchCustomer()" >Fetch</button>
			</td>
			
		</tr>
		
		<tr>
			<td>
				<label>Name :</label>
				<input id="cName" name="cName" type="text"/>
			</td>
		</tr>
		<tr>
			<td>
				<label> Total Weight :</label>
				<input id="tWeight" name="tWeight" type="text"/>
			</td>
		</tr>

		
		
		
		<tr>
			<td><button onclick="saveVoucher()" type="button">save</button></td>
		</tr>
	</table>
	
	<div style="display: none" id="item">fsdgdfhdfgdfgdf
	gdf
	gdfg
	dfg
	dfgdfg
	dfgdfg</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/Voucher.js}"></script>
</html>