<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
<style>
			table, th, td {
	    		border: 1px solid black;
			}
		</style>
</head>
<body>
<a th:href="@{/chainType/createChain}"><button>Add Chain Type</button></a>
<table>
			<thead>
				<tr>
					
					<th>Id</th>
					<th>Name</th>
					<th>Point</th>
					<th>Update</th>
					<th>Delete</th>
					
				</tr>
			</thead>
			<tbody th:if = "${chainTypeList != null}">
				<tr th:each = "chain: ${chainTypeList}">
					<td th:text = "${chain.getChainId()}"></td>
					<td th:text = "${chain.getChainName()}"></td>
					<td th:text = " ${chain.getCutPoint()}"></td>
					<td><a th:href="@{|/chainType/update/${chain.getChainId()}|}"><button>Edit</button></a></td>
					<td><a th:href="@{|/chainType/delete/${chain.getChainId()}|}"><button>Delete</button></a></td>
					
				</tr>
			</tbody>
		</table>

</body>
</html>